* {
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}



.background-white {
  background-color: white;
  transition: 1s;
}

.background-black {
  background-color: rgb(49, 49, 49);
  color: white;
  transition: 1s;
}

.links__mode {
  height: 95px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.links__mode a.ddott {
  margin: 0 auto;
  display: block;
  line-height: 50px;
  height: 50px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 100px 0 #fff, 1px 76px 10px rgb(49, 49, 49);
  color: #fff;
  background: #590bff;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.links__mode a.ddott:hover {
  text-shadow: 0 50px 0 #fff, 1px 51px 20px #fff;
  margin-top: -50px;
  height: 100px;
  background: rgb(49, 49, 49);
}

.name-page {
  position: fixed;
  z-index: 1;
  color: white;
  width: 100%;
  height: 89px;
  background: #590bff;
  padding-left: 29px;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid white;
}

.name-page__title {
  font-size: 54px;
  margin: 13px 0;
}

.main {
  font-size: 28px;
}
.links {
  margin-right: 20px;
  min-width: 240px;
}
.links__link {
  color: rgba(255, 113, 11, 1);
  font-size: 24px;
}
.links__item {
  margin-bottom: 12px;
}
links__title {
  margin-bottom: 23px;
}
.contacts {
  width: 100%;
  padding-left: 48px;
}

.contacts__item {
  padding-left: 13px;
  cursor: pointer;
}
.contacts__item:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #d1bcff;
  padding-left: 20px;
}
.wrapper {
  margin-left: 23px;
  position: relative;
  top: 100px;
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 150px;
}
.contacts__box {
  margin-bottom: 30px;
}
.contacts__latter {
  position: sticky;
  top: 89px;
  color: white;
  background-color: #590bff;
  width: 100%;
  height: 41px;
  padding: 4px 13px;
  margin-bottom: 13px;
}

.contacts__latter:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #661fff;
}

.footer-list {
  position: relative;
  width: 100%;
  margin: 0px;
}

.footer-list__items {
  position: absolute;
  padding: 0 25px;
}



@media screen and (max-width: 480px) {
  .wrapper {
    margin-left: 23px;
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
  }

  .line-border {
    display: none;
  }
  .contacts {
    width: 100%;
    padding-left: 0;
  }
  .name-page__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 320px) {
  .name-page__title {
    font-size: 30px;
  }
}
