* {
  box-sizing: border-box;
  font-family: Roboto;
  padding: 0;
  margin: 0;
}

.body {
  background: #1b2473;
}

.main {
  margin: 0 auto;
}

.form {
  margin: 82px auto 0;
  background-color: #ffffff;
  width: 600px;
  text-align: center;
  padding: 26px 45px;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.form__title {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  color: #787878;
}

.form__input {
  margin-top: 3px;
  outline-color: tomato;
  display: block;
  width: 509px;
  height: 49px;
  border: 2px solid #787878;
  border-radius: 10px;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: #787878;
  padding-left: 15px;
}


.form__input::placeholder {
  color: #cccccc;
}

.form__input-title {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #787878;
  margin-top: 17px;
  text-align: left;
  padding-left: 8px;
}

.form__checkbox {
  margin-top: 16px;
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  outline-color: tomato;
}

.form__follow-checkbox {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}


.form__follow {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #787878;
}

.form__button {
  background: #1a226b;
  outline-color: tomato;
  border-radius: 10px;
  padding: 18px 55px;
  border: none;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  color: #ffffff;
  margin-top: 52px;
}
.form__button:hover {
  background: #252c6b;
  cursor: pointer;
}
.form__button:hover {
  background: #252c6b;
  cursor: pointer;
}

.form__square {
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 2px solid #787878;
  border-radius: 7px;
  margin-right: 10px;
  position: relative;
}
.form__follow-checkbox:focus + .form__square {
  border: 2px solid tomato;
}


.form__follow-checkbox:checked + .form__square::after {
  content:'✓';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

}

.form__hide-password {
	position: relative;
}
.form__password-control {
	position: absolute;
	top: 10px;
	right: 8px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url('./img/password.png') 0 0 no-repeat;
  background-size: cover;
  transition: 0.5s;
  outline-color:tomato ;
}
.form__password-control.view {
	background: url('./img/1200px-Feather-core-eye-off.svg.png') 0 0 no-repeat;
  background-size: cover;
  transition: 0.5s;
}

@media screen and (max-width: 768px)  {
  .body {
    padding: 20px;
  }
  .form {
    margin: 0;
    width: 100%;
    padding: 38px 45px auto;
  }
  .form__title {
    margin-bottom: 2px;
    font-size: 60px;
  }
  .form__input-title {
    font-size: 24px;
  }

  .form__input {
    margin-top: 8px;
    display: block;
    width: 100%;
    height: 49px;
    border: 2px solid #787878;
    border-radius: 10px;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #787878;
    padding-left: 15px;
  }
  .form__checkbox {
    margin-top: 19px;
  }
  .form__follow {
    font-size: 18px;
  }

  .form__button {
    padding: 32px 64px;
    font-size: 32px;
    margin-top: 64px;
  }
  .form__square {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 430px) {
  .form__input {
    font-size: 15px;
  }
  .form__button {
    padding: 32px 55px;
  }
}
